:root {
  /* Lime */
  --color-lime: #d8db2f;

  /* Slate */
  --color-slate-900: #133041;
  --color-slate-700: #4e6e7e;
  --color-slate-500: #6b94a8;
  --color-slate-300: #9abed5;
  --color-slate-100: #e4f4fd;

  /* White */
  --color-white: #ffffff;

  /* Red */
  --color-red: #d73328;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-slate-100);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 1088px;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 32px 24px;
  height: 698px;
}
.results {
  background-color: var(--color-slate-900);
  border-radius: 0;
  height: 390px;
}

.calculator-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 600px) {
  .card {
    width: 504px;
    height: 1212px;
    flex-direction: column;
    border-radius: 0 0 1rem 1rem;
  }
  .calculator {
    width: 504px;
    height: 606px;
    padding: 40px;
  }
  .results {
    width: 504px;
    height: 606px;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
  }
}

@media (min-width: 1010px) {
  .card {
    width: 1008px;
    height: 606px;
    flex-direction: row;
    border-radius: 0 1rem 1rem 0;
  }
  .results {
    border-radius: 0 1rem 1rem 3rem;
  }
}
