@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  font-size: 16px;
  /* Lime */
  --color-lime: #d8db2f;

  /* Slate */
  --color-slate-900: #133041;
  --color-slate-700: #4e6e7e;
  --color-slate-500: #6b94a8;
  --color-slate-300: #9abed5;
  --color-slate-100: #e4f4fd;

  /* White */
  --color-white: #ffffff;

  /* Red */
  --color-red: #d73328;
  --text-preset-1: 700 3.5rem / 1.25 "Plus Jakarta Sans", sans-serif;
  --text-preset-1-letter-spacing: -0.01em;

  --text-preset-2: 700 1.5rem / 1.25 "Plus Jakarta Sans", sans-serif;
  --text-preset-2-letter-spacing: -0.01em;

  --text-preset-3: 700 1.125rem / 1.25 "Plus Jakarta Sans", sans-serif;
  --text-preset-3-letter-spacing: -0.01em;

  --text-preset-4: 500 1rem / 1.5 "Plus Jakarta Sans", sans-serif;
  --text-preset-4-letter-spacing: 0;

  --text-preset-5: 500 0.875rem / 1.5 "Plus Jakarta Sans", sans-serif;
  --text-preset-5-letter-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-slate-100);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 1088px;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 32px 24px;
  height: 698px;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.results {
  background-color: var(--color-slate-900);
  border-radius: 0;
  height: 390px;
}

.calculator-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.calculator-header h1 {
  color: var(--color-slate-900);
  font: var(--text-preset-2);
  letter-spacing: var(--text-preset-2-letter-spacing);
}
.calculator-header a {
  color: var(--color-slate-700);
  font: var(--text-preset-4);
  letter-spacing: var(--text-preset-4-letter-spacing);
  text-decoration: none;
}
.input-group {
  position: relative;
  height: 48px;
}
input {
  height: 48px;
  border: 1px solid var(--color-slate-300);
  border-radius: 3px;
  padding-left: 50px;
  width: 100%;
}
.input-group #amount {
  width: 100%;
}
.input-group span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  left: 1px;
  top: 50%;
  padding: 2px 16px;
  border-radius: 3px;
  transform: translateY(-50%);
  background-color: var(--color-slate-100);
  color: var(--color-slate-700);
  font: var(--text-preset-4);
  letter-spacing: var(--text-preset-4-letter-spacing);
  pointer-events: none;
}
.form-row {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form-row .form-group {
  width: 100%;
}

.form-row .input-group span {
  right: 1px;
  left: auto;
}
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-slate-700);
  font: var(--text-preset-4);
  letter-spacing: var(--text-preset-4-letter-spacing);
}
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.radio-group label {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0.5rem;
  color: var(--color-slate-700);
  font: var(--text-preset-4);
  letter-spacing: var(--text-preset-4-letter-spacing);
  border: 1px solid var(--color-slate-300);
  height: 48px;
  border: 1px solid var(--color-slate-300);
  padding: 4px 8px;
  border-radius: 5px;
}

.radio-group input[type="radio"] {
  /* appearance: none; */
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding-left: 8px;
}
.radio-group input[type="radio"]:checked {
  border-color: #4f46e5;
}
@media (min-width: 600px) {
  .card {
    width: 504px;
    height: 1212px;
    flex-direction: column;
    border-radius: 0 0 1rem 1rem;
  }
  .calculator {
    width: 504px;
    height: 606px;
    padding: 40px;
  }
  .results {
    width: 504px;
    height: 606px;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
  }
  .calculator-header {
    flex-direction: row;
    align-items: center;
  }
  .form-row {
    flex-direction: row;
  }
}

@media (min-width: 1010px) {
  .card {
    width: 1008px;
    height: 606px;
    flex-direction: row;
    border-radius: 0 1rem 1rem 0;
  }
  .results {
    border-radius: 0 1rem 1rem 3rem;
  }
}
