@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  font-size: 16px;
  /* Lime */
  --color-lime: #d8db2f;

  /* Slate */
  --color-slate-900: #133041;
  --color-slate-700: #4e6e7e;
  --color-slate-500: #6b94a8;
  --color-slate-300: #9abed5;
  --color-slate-100: #e4f4fd;

  /* White */
  --color-white: #ffffff;

  /* Red */
  --color-red: #d73328;
  --text-preset-1: 700 3.5rem / 1.25 "Plus Jakarta Sans", sans-serif;
  --text-preset-1-letter-spacing: -0.01em;

  --text-preset-2: 700 1.5rem / 1.25 "Plus Jakarta Sans", sans-serif;
  --text-preset-2-letter-spacing: -0.01em;

  --text-preset-3: 700 1.125rem / 1.25 "Plus Jakarta Sans", sans-serif;
  --text-preset-3-letter-spacing: -0.01em;

  --text-preset-4: 500 1rem / 1.5 "Plus Jakarta Sans", sans-serif;
  --text-preset-4-letter-spacing: 0;

  --text-preset-5: 500 0.875rem / 1.5 "Plus Jakarta Sans", sans-serif;
  --text-preset-5-letter-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-slate-100);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 1088px;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 32px 24px;
  height: 698px;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.results {
  background-color: var(--color-slate-900);

  height: 455px;
  padding: 32px 24px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.results h2 {
  color: var(--color-white);
  text-align: left;
  font: var(--text-preset-2);
  letter-spacing: var(--text-preset-2-letter-spacing);
}
.results p {
  color: var(--color-slate-300);
  text-align: left;
  font: var(--text-preset-4);
  letter-spacing: var(--text-preset-4-letter-spacing);
  margin-bottom: 12px;
}

.result-card {
  border-top: 4px solid var(--color-lime);
  border-radius: 6px;
  background-color: #0e232f;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;
  width: 100%;
  height: 225px;
  padding: 16px 24px;
}
hr {
  border: none;
  border-top: 1px solid var(--color-slate-500);
  margin: 0;
}
.result-card h3 {
  color: var(--color-lime);
  font: var(--text-preset-1);
  letter-spacing: var(--text-preset-1-letter-spacing);
}
.result-card p {
  margin: 2px 0 0;
}
.result-card strong {
  margin: 2px;
  color: var(--color-white);
  font: var(--text-preset-2);
  letter-spacing: var(--text-preset-2-letter-spacing);
}
.calculator-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.calculator-header h1 {
  color: var(--color-slate-900);
  font: var(--text-preset-2);
  letter-spacing: var(--text-preset-2-letter-spacing);
}
.calculator-header a {
  color: var(--color-slate-700);
  font: var(--text-preset-4);
  letter-spacing: var(--text-preset-4-letter-spacing);
  text-decoration: none;
}
.input-group {
  position: relative;
  height: 48px;
}
input {
  height: 48px;
  border: 1px solid var(--color-slate-500);
  border-radius: 5px;
  padding-left: 50px;
  width: 100%;
  color: var(--color-slate-900);
  font: var(--text-preset-3);
  letter-spacing: var(--text-preset-3-letter-spacing);
}

input:focus {
  outline: none;
  border-color: var(--color-slate-900);
}
.input-group #amount {
  width: 100%;
}
span.left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  left: 1px;
  top: 0;
  padding: 2px 16px;
  border-radius: 4px 0 0 4px;
  background-color: var(--color-slate-100);
  color: var(--color-slate-700);
  font: var(--text-preset-3);
  letter-spacing: var(--text-preset-3-letter-spacing);
  pointer-events: none;
}
span.err {
  visibility: hidden;
  position: absolute;
  display: flex;
  height: 18px;
  left: -16px;
  top: 120%;
  right: auto;
  padding: 2px 16px;
  background-color: transparent;
  transform: translateY(-50%);
  color: var(--color-red);
  font: var(--text-preset-5);
  letter-spacing: var(--text-preset-5-letter-spacing);
}
.err.radio {
  top: 100%;
}
.form-row {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form-row .form-group {
  width: 100%;
}

span.right {
  height: 46px;
  padding: 4px 16px;
  background-color: var(--color-slate-100);
  color: var(--color-slate-700);
  font: var(--text-preset-3);
  letter-spacing: var(--text-preset-3-letter-spacing);
  pointer-events: none;
  position: absolute;
  right: 1px;
  left: auto;
  top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 4px 0;
}
.form-group {
  position: relative;
}
.form-group label {
  display: block;
  margin-bottom: 12px;
  color: var(--color-slate-700);
  font: var(--text-preset-4);
  letter-spacing: var(--text-preset-4-letter-spacing);
}
.radio-group {
  display: flex;
  flex-direction: column;
}
.radio-group label {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0.5rem;
  color: var(--color-slate-900);
  font: var(--text-preset-3);
  letter-spacing: var(--text-preset-3-letter-spacing);
  border: 1px solid var(--color-slate-300);
  height: 48px;
  border: 1px solid var(--color-slate-300);
  padding: 4px 8px;
  border-radius: 5px;
}

.form-group.err input {
  color: var(--color-red);
  border: #d73328 1px solid;
}
.form-group.err span.left,
.form-group.err span.right {
  background-color: var(--color-red);
  color: var(--color-white);
  height: 47.5px;
}
.form-group.err span.err {
  visibility: visible;
}
.radio-group input[type="radio"] {
  /* appearance: none; */
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding-left: 8px;
}
.radio-group input[type="radio"]:checked {
  border-color: #4f46e5;
}

button {
  background-color: var(--color-lime);
  color: var(--color-slate-900);
  font: var(--text-preset-3);
  letter-spacing: var(--text-preset-3-letter-spacing);
  border: none;
  border-radius: 46px;
  padding: 12px;
  cursor: pointer;
  width: 314px;
  height: 56px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button img {
  margin-right: 8px;
  height: 24px;
  width: 24px;
}
@media (min-width: 690px) {
  .main {
    padding: 40px;
  }
  .card {
    width: 688px;
    height: 1113px;
    flex-direction: column;
    border-radius: 1rem;
  }
  .calculator {
    width: 688px;
    height: 606px;
    padding: 40px;
  }
  .results {
    width: 688px;
    height: 507px;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    padding: 40px;
  }

  .result-card {
    width: 608px;
    height: 293px;
  }
  .calculator-header {
    flex-direction: row;
    align-items: center;
  }
  .form-row {
    flex-direction: row;
  }
  .result-card strong {
    margin-top: -16px;
  }
}

@media (min-width: 1010px) {
  .card {
    width: 1008px;
    height: 606px;
    flex-direction: row;
    /* border-radius: 0 1rem 1rem 0; */
  }
  .results {
    border-radius: 0 1rem 1rem 3rem;
    height: 606px;
  }
  .result-card {
    min-height: 0;
    width: 424px;
    height: 293px;
  }
}
